<link rel="stylesheet" type="text/css" href="/customfooter.css">
<script src="/customfooter.js" defer></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
    <div class="container4">
        <img class="contact-logo" src="/photo/logoEN2.png">
        <a class="contact-header1">Contact US</a><br>
        <a class="contact-body1">The station of music lover <br>We love to see everyone <br>has enjoy the music<br> By.FLEX Developers</a>
        <a class="contact-body2">
            Address : 126 Pracha Uthit Rd, Bang Mot, <br>Thung Khru, Bangkok 10140
            <br><br>
            Phone: 084-926-1272
            <br>
            Email: Flexmusicmek@gmail.com
        </a>
        <a class="contact-body3">
            <span><a id="fb" href="https://www.facebook.com/Ratchagrid" target="_blank" class="fa fa-facebook-square"></a></span>
            <span><a href="https://www.instagram.com/mek_rg" id="ig" target="_blank" class="fa fa-instagram"></a></span>
        </a><br>
    </div>