<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="/change_password.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap" rel="stylesheet">
    <%- include('partials/BugHeadNav.ejs') %>
    <link rel="stylesheet" type="text/css" href="/change_password.css">
<body>
    <div class="container">
        <img class="unlock_logo" src="https://www.mx7.com/i/1a3/esB2Pt.png">
        <br>
        <br>
        <a class="header_password">CHANGE<br>PASSWORD</a>
        <br>
        <a class="header_up">make sure you remember your password</a>
        <br>
        <form action="/changepassword" method="POST">
            <input class="pinp" name="oldpassword" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your current password'" placeholder="Your current password"><br>
            <input class="pinp" name="newpassword" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your new password'" placeholder="Your new password"><br>
            <input class="pinp" name="confirmnewpassword" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm your new password'" placeholder="Confirm your new password"><br><br><br>
            <button onclick="myfunction2()"; class="confirm_btn" type="button">Change password</button>
            <button id="changepasswordsubmit" type="submit" style="display: none;"></button><br><br><br>
        </form>

    </div>
    <div class="loader-wrapper" id="loading">
        <span class="loader"><span class="loader-inner"></span></span>
      </div>
</body>

<%- include('partials/footer.ejs')%>