<%- include('partials/header.ejs') %>

<h1>I'm <%= hero %></h1>
<% if (hero === "lufy" || hero === "Lufy") {%>
    <p1>I'm ODA sensei</p1>
    <%} else {%>
    <p>You are wrong BOooooooooooooo</p>
    <% } %>

<%- include('partials/footer.ejs') %>
