<%- include('partials/header.ejs') %>

<div style='text-align:center; margin-top: 5%; height:775px; background-color: rgb(221, 211, 211);'><a style='font-size: 350%; color:rgb(0, 0, 0)'>FLEX</a><br><hr style='width:40%; margin-left: 30%; border: 2px solid #f22c2c;'><br><div style='margin-left: 30%; background-color: rgb(255, 255, 255); width: 40%; height: 600px;'><div style='font-size: 215%; color:rgb(19, 119, 211); margin-top: 0%; margin-left: 5%;'><br><b>Dear customer</b></div><div style='font-size: 180%; color:rgb(0, 0, 0); margin-top: 3%;'>please click on the button below to reset your password<br> Once you have done. please try re-logging <br></div><br><br><form action="+link+" target='_blank'><button title='Click to verify' style='cursor: pointer; font-size: 150%; margin-left: 4%; border: 2px solid rgb(248, 2, 2); color: rgb(0, 0, 0); padding: 1% 6% 1% 6%;' type='submit'>Verify email</button></form><br><br><br><div style='font-size: 180%; color:rgb(0, 0, 0); '>if you have any issues. feel free to reach us at<br>flexmusicmek@gmail.com<br><br>Best regards,<br>Flex Developers.</div></div></div>

<%- include('partials/footer.ejs') %>
