<%- include('partials/Home_header.ejs')%>
<link rel="stylesheet" type="text/css" href="/resetpassword.css">
<script src="/resetpassword.js" defer></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <div class="container1">
        <img id="logo" src="https://sv1.picz.in.th/images/2021/03/29/DXzUM8.png">
        <div id="topic">FLEX</div>
        <div id="page-topic">RESET PASSWORD</div>
        <form action="/resetpassword/" method="POST">
            <input id="password1" type="password" name="password" placeholder="Newpassword"><img id="pic1" onclick="changetype(document.getElementById('password1').id,this.id)" src="https://sv1.picz.in.th/images/2021/05/07/AFy0fI.png" style="font-size: 130%; margin-left: 1%;"><br>
            <input id="password2" type="password" name="confirmpassword" placeholder="Confirmpassword"><img id="pic2" onclick="changetype(document.getElementById('password2').id,this.id)" src="https://sv1.picz.in.th/images/2021/05/07/AFy0fI.png" style="font-size: 130%; margin-left: 1%;"><br>
            <button type="submit">Reset</button>
        </form>
        <div id="caution-cover">
            <div id="caution-header"><strong>HINT</strong><b> : To make your password stronger</b></div>
            <ul class="list">
                <li><b>Add uppercaseLetters</b></li>
                <li><b>Add numbers</b></li>
                <li><b>Add punctuations</b></li>
            </ul>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs')%>