<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/searchtest.js" defer></script>
<link rel="stylesheet" type="text/css" href="/searchtest.css">

</head>
<body>
    <div style='text-align:center; margin-top: 5%; height:850px; background-color: rgb(221, 211, 211);'><a style='font-size: 350%; color:rgb(0, 0, 0)'>FLEX</a><br><hr style='width:50%; margin-left: 24%; border: 2px solid #f22c2c;'><br><div style='margin-left: 24%; background-color: rgb(255, 255, 255); width: 50%; height: 720px;'><div style='font-size: 215%; color:rgb(19, 119, 211); margin-top: 0%; margin-left: 5%;'><br><b>Dear customer</b></div><div style='font-size: 180%; color:rgb(0, 0, 0); margin-top: 3%;'>We heard that you have request to delete your account,<br> So we decided to send you another verification email<br> for security. If it were you please click on the button below to continue the step but if it's not you feel free to enjoy the website<br>we're not currently delete your account<br></div><br><br><form action="+link+" target='_blank'><button title='Click to verify' style='cursor: pointer; font-size: 150%; margin-left: 4%; border: 2px solid rgb(248, 2, 2); color: rgb(0, 0, 0); padding: 1% 6% 1% 6%;' type='submit'>Continue</button></form><br><br><br><div style='font-size: 180%; color:rgb(0, 0, 0); '>This like will expired in 5 minute, <br>If you have any issues. feel free to reach us at<br>flexmusicmek@gmail.com<br><br>Best regards,<br>Flex Developers.</div></div></div>
</body>
</html>