<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Home.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/wrongpath.css">
    <script src="/wrongpath.js" defer></script>
    <header> 
        <a style="margin-right: 55%;" href="/main"><img class="logo_size" src="https://sv1.picz.in.th/images/2021/04/03/Dmiq6J.png" alt="logo"></a>
    </header>
<div class="container">
    <strong class="stronger">Sorry this page is unavailable</strong><br>
    The link you followed may be broken, or the page may have been removed. Go back to FLEX.
</div>

<%- include('partials/footer.ejs')%>