

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Mobile Nav */
  
    

  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta_signin {
      display: none;
    }
    .cta_signup {
        display: none;
      }
    .menu {
      display: initial;
    }
  }
  
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.show {display: block;}

body{
    background-color: #20181F;
    padding: 0;
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
    overflow: hidden;
}


.container{
  text-align: center;
  border: 2px solid #f375ba;
  height: 800px;
  margin: 1% auto;
  overflow: hidden;
  width: 80%;
  margin-left: 17%;
  margin-top: 2%;
  
}

.unlock_logo{
    margin-top: 3%;
    height: 200px;
    width: auto;
}

.header_password{
    font-size: 300%;
    color:rgb(218, 69, 156);
}

.header_up{
    font-size: 170%;
    color: rgb(170, 164, 168);
}

.pinp{
    margin-top: 1.25%;
    outline:none;
    border: 2px solid rgb(255, 255, 255);
    width: 40%;
    font-size: 140%;
    border-radius: 15px;
    background-color: rgb(218, 69, 156,0);
    padding: 0.5% 0.5% 0.5% 3.4%;
    color:rgb(236, 181, 238);
    background-image: url('https://sv1.picz.in.th/images/2021/04/08/Azz6O1.png');
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 2%;
    font-family: 'Righteous', cursive;
}

.pinp::placeholder{
    color:rgb(255, 255, 255);
    font-size: 120%;
    
}

.pinp:focus{
  text-indent: 0%;
}


.confirm_btn{
    border: 2px solid rgb(170, 164, 168);
    width: 20%;
    font-size: 150%;
    border-radius: 15px;
    background-color: rgb(218, 69, 156,0);
    padding: 0.5% 0.5% 0.5% 0.5%;
    color:rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
}

.confirm_btn:hover{
    transition : color 0.25s;
    color:rgb(247, 115, 192);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display:none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loader {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;            /******** <- Remove this line *********/
  border: 4px solid rgb(241, 81, 207);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display:inline;
  width: 100%;
  background-color: rgb(241, 81, 207);
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

@media screen and (max-width: 1024px) {
  .unlock_logo{
    margin-top: 5%;
    height: 30%;
    width: auto;
  }


  .header_password{
    font-size: 300%;
  }

  .header_up{
    font-size: 270%;
  }

  .pinp{
    font-size: 200%;
    width: 90%;
    padding: 0.5% 0.5% 0.5% 8%;
    margin-bottom: 3%;
  }

  .confirm_btn{
    width: 70%;
    font-size: 250%;
  }

  .container{
    margin: 6% auto auto 16%;
    height: 1100px;
  }
}

@media screen and (max-width: 768px) {
  .unlock_logo{
    margin-top: 5%;
    height: 25%;
    width: auto;
  }


  .header_password{
    font-size: 250%;
  }

  .header_up{
    font-size: 220%;
  }

  .pinp{
    font-size: 150%;
    width: 90%;
    padding: 0.5% 0.5% 0.5% 8%;
    margin-bottom: 3%;
  }

  .confirm_btn{
    width: 70%;
    font-size: 180%;
  }

  .container{
    margin: 6% auto auto 16%;
    height: 850px;
  }
}


@media screen and (max-width: 540px) {
  .unlock_logo{
    margin-top: 5%;
    height: 25%;
    width: auto;
  }


  .header_password{
    font-size: 171%;
  }

  .header_up{
    font-size: 155%;
  }

  .pinp{
    font-size: 100%;
    width: 90%;
    padding: 0.5% 0.5% 0.5% 8%;
    margin-bottom: 3%;
  }

  .confirm_btn{
    width: 70%;
    font-size: 120%;
  }

  .container{
    margin: 6% auto;
    height: 600px;
  }
}


@media screen and (max-width: 420px) {
  .unlock_logo{
    margin-top: 5%;
    height: 25%;
    width: auto;
  }


  .header_password{
    font-size: 171%;
  }

  .header_up{
    font-size: 155%;
  }

  .pinp{
    font-size: 100%;
    width: 90%;
    padding: 0.5% 0.5% 0.5% 8%;
    margin-bottom: 3%;
  }

  .confirm_btn{
    width: 70%;
    font-size: 120%;
  }

  .container{
    margin: 6% auto;
    height: 620px;
  }
}

@media screen and (max-width:375px) {
  .unlock_logo{
    margin-top: 5%;
    height: 25%;
    width: auto;
  }


  .header_password{
    font-size: 171%;
  }

  .header_up{
    font-size: 142%;
  }

  .pinp{
    font-size: 80%;
    width: 90%;
    padding: 0.5% 0.5% 0.5% 8%;
    margin-bottom: 3%;
  }

  .confirm_btn{
    width: 70%;
    font-size: 120%;
  }

  .container{
    margin: 6% auto;
    height: 560px;
  }
}

@media screen and (max-width:320px) {
  .unlock_logo{
    margin-top: 5%;
    height: 15%;
    width: auto;
  }


  .header_password{
    font-size: 171%;
  }

  .header_up{
    font-size: 142%;
  }

  .pinp{
    font-size: 80%;
    width: 90%;
    padding: 0.5% 0.5% 0.5% 8%;
    margin-bottom: 3%;
  }

  .confirm_btn{
    width: 70%;
    font-size: 120%;
  }

  .container{
    margin: 6% auto;
    height: 470px;
  }
}