body{
    background-color: #ffffff;
    overflow: hidden;
}

.container1{
    height: 800px;
    overflow: hidden;
    width: 55%;
    margin-left: 22%;
    text-align: center;
    border: 2px solid black;
    box-shadow: -10px 10px;
    margin-top: 2%;
}

#topic{
    font-size: 300%;
    font-family: 'Itim', cursive;
}

input[type=password]{
    font-size: 140%;
    width: 50%;
    margin-top: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1% 1% 1% 2%;
}
input[type=text]{
    font-size: 140%;
    width: 50%;
    margin-top: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1% 1% 1% 2%;
}
button[type=submit]{
    font-size: 140%;
    margin-top: 5%;
    color:#000000;
    border: 2px solid rgb(155, 48, 132);
    width: 20%;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1% 1% 1% 1%;
    transition: background,transform 0.5s;
}
button[type=submit]:hover{
    background: white;
    transform: scale(1.25);
    transition: background,transform 0.5s;
}
button[type=submit]::after{
    background: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    transform: scale(1.00);
    transition: background,transform 0.5s;
}
#logo{
    width: 20%;
    height: 20%;
    margin-top: 2%;
}

#page-topic{
    font-size: 200%;
    font-family: 'Roboto Condensed', sans-serif;
}

#caution-cover{
    text-align: left;
    margin-top: 2%;
    font-size: 130%;
    font-family: 'Noto Sans JP', sans-serif;
    border: 2px solid black;
    width: 60%;
    margin-left: 19%;
    padding: 1% 0 1% 0;
}

.list{
    margin-left: 20%;
}


#caution-header{
    font-size: 140%;
    margin-left: 5%;
}

strong{
    color:red;
    text-decoration: underline;
}

@media screen and (max-width: 1024px){
    .container1 {
        height: 735px;
        overflow: hidden;
        width: 88%;
        margin-left: 7%;
        text-align: center;
        border: 2px solid black;
        box-shadow: -10px 10px;
        margin-top: 15%;
    }
    #topic {
        font-size: 300%;
        font-family: 'Itim', cursive;
    }
    #logo {
        width: 30%;
        height: 20%;
        margin-top: 2%;
    }
    #page-topic {
        font-size: 200%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    input[type=password] {
        font-size: 170%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    input[type=text] {
        font-size: 170%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    button[type=submit] {
        font-size: 180%;
        margin-top: 5%;
        color: #000000;
        border: 2px solid rgb(155, 48, 132);
        width: 44%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 1%;
        transition: background,transform 0.5s;
    }
    #caution-cover {
        text-align: left;
        margin-top: 2%;
        font-size: 145%;
        font-family: 'Noto Sans JP', sans-serif;
        border: 2px solid black;
        width: 85%;
        margin-left: 6%;
        padding: 1% 0 1% 0;
    }
}

@media screen and (max-width: 768px){
    .container1 {
        height: 650px;
        overflow: hidden;
        width: 88%;
        margin-left: 7%;
        text-align: center;
        border: 2px solid black;
        box-shadow: -10px 10px;
        margin-top: 15%;
    }
    #topic {
        font-size: 300%;
        font-family: 'Itim', cursive;
    }
    #logo {
        width: 35%;
        height: 20%;
        margin-top: 2%;
    }
    #page-topic {
        font-size: 180%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    input[type=password] {
        font-size: 160%;
        width: 80%;
        margin-top: 2%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    input[type=text] {
        font-size: 160%;
        width: 80%;
        margin-top: 2%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    button[type=submit] {
        font-size: 180%;
        margin-top: 5%;
        color: #000000;
        border: 2px solid rgb(155, 48, 132);
        width: 44%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 1%;
        transition: background,transform 0.5s;
    }
    #caution-cover {
        text-align: left;
        margin-top: 2%;
        font-size: 120%;
        font-family: 'Noto Sans JP', sans-serif;
        border: 2px solid black;
        width: 85%;
        margin-left: 6%;
        padding: 1% 0 1% 0;
    }
}

@media screen and (max-width: 540px){
    .container1 {
        height: 510px;
        overflow: hidden;
        width: 88%;
        margin-left: 7%;
        text-align: center;
        border: 2px solid black;
        box-shadow: -10px 10px;
        margin-top: 11%;
    }
    #topic {
        font-size: 220%;
        font-family: 'Itim', cursive;
    }
    #logo {
        width: 39%;
        height: 20%;
        margin-top: 2%;
    }
    #page-topic {
        font-size: 150%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    input[type=password] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    input[type=text] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    button[type=submit] {
        font-size: 140%;
        margin-top: 5%;
        color: #000000;
        border: 2px solid rgb(155, 48, 132);
        width: 44%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 1%;
        transition: background,transform 0.5s;
    }
    #caution-cover {
        text-align: left;
        margin-top: 2%;
        font-size: 92%;
        font-family: 'Noto Sans JP', sans-serif;
        border: 2px solid black;
        width: 85%;
        margin-left: 6%;
        padding: 1% 0 1% 0;
    }
}

@media screen and (max-width: 420px){
    .container1 {
        height: 480px;
        overflow: hidden;
        width: 88%;
        margin-left: 7%;
        text-align: center;
        border: 2px solid black;
        box-shadow: -10px 10px;
        margin-top: 15%;
    }
    #topic {
        font-size: 220%;
        font-family: 'Itim', cursive;
    }
    #logo {
        width: 40%;
        height: 17%;
        margin-top: 2%;
    }
    #page-topic {
        font-size: 150%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    input[type=password] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    input[type=text] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    button[type=submit] {
        font-size: 140%;
        margin-top: 5%;
        color: #000000;
        border: 2px solid rgb(155, 48, 132);
        width: 44%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 1%;
        transition: background,transform 0.5s;
    }
    #caution-cover {
        text-align: left;
        margin-top: 2%;
        font-size: 92%;
        font-family: 'Noto Sans JP', sans-serif;
        border: 2px solid black;
        width: 85%;
        margin-left: 6%;
        padding: 1% 0 1% 0;
    }
}

@media screen and (max-width: 375px) and (height: 812px){
    .container1 {
        height: 480px;
        overflow: hidden;
        width: 88%;
        margin-left: 7%;
        text-align: center;
        border: 2px solid black;
        box-shadow: -10px 10px;
        margin-top: 15%;
    }
    #topic {
        font-size: 220%;
        font-family: 'Itim', cursive;
    }
    #logo {
        width: 40%;
        height: 17%;
        margin-top: 2%;
    }
    #page-topic {
        font-size: 150%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    input[type=password] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    input[type=text] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    button[type=submit] {
        font-size: 140%;
        margin-top: 5%;
        color: #000000;
        border: 2px solid rgb(155, 48, 132);
        width: 44%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 1%;
        transition: background,transform 0.5s;
    }
    #caution-cover {
        text-align: left;
        margin-top: 2%;
        font-size: 92%;
        font-family: 'Noto Sans JP', sans-serif;
        border: 2px solid black;
        width: 85%;
        margin-left: 6%;
        padding: 1% 0 1% 0;
    }
}

@media screen and (max-width: 375px) and (height: 667px){
    .container1 {
        height: 480px;
        overflow: hidden;
        width: 88%;
        margin-left: 7%;
        text-align: center;
        border: 2px solid black;
        box-shadow: -10px 10px;
        margin-top: 15%;
    }
    #topic {
        font-size: 220%;
        font-family: 'Itim', cursive;
    }
    #logo {
        width: 40%;
        height: 17%;
        margin-top: 2%;
    }
    #page-topic {
        font-size: 150%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    input[type=password] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    input[type=text] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    button[type=submit] {
        font-size: 140%;
        margin-top: 5%;
        color: #000000;
        border: 2px solid rgb(155, 48, 132);
        width: 44%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 1%;
        transition: background,transform 0.5s;
    }
    #caution-cover {
        text-align: left;
        margin-top: 2%;
        font-size: 92%;
        font-family: 'Noto Sans JP', sans-serif;
        border: 2px solid black;
        width: 85%;
        margin-left: 6%;
        padding: 1% 0 1% 0;
    }
}

@media screen and (max-width: 320px){
    .container1 {
        height: 480px;
        overflow: hidden;
        width: 88%;
        margin-left: 7%;
        text-align: center;
        border: 2px solid black;
        box-shadow: -10px 10px;
        margin-top: 3%;
    }
    #topic {
        font-size: 220%;
        font-family: 'Itim', cursive;
    }
    #logo {
        width: 40%;
        height: 17%;
        margin-top: 2%;
    }
    #page-topic {
        font-size: 150%;
        font-family: 'Roboto Condensed', sans-serif;
    }
    input[type=password] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    input[type=text] {
        font-size: 140%;
        width: 80%;
        margin-top: 3%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 2%;
    }
    button[type=submit] {
        font-size: 140%;
        margin-top: 5%;
        color: #000000;
        border: 2px solid rgb(155, 48, 132);
        width: 44%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 1% 1% 1% 1%;
        transition: background,transform 0.5s;
    }
    #caution-cover {
        text-align: left;
        margin-top: 2%;
        font-size: 92%;
        font-family: 'Noto Sans JP', sans-serif;
        border: 2px solid black;
        width: 85%;
        margin-left: 6%;
        padding: 1% 0 1% 0;
    }
}